/* .App {
  text-align: center;
} */


@font-face {
  font-family: harrypotterChar;
  src: url(./fonts/harrypotter_char.TTF);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#resumeLink {
  position: fixed;
  z-index: 99;
  top: 10px;
  right: 10px;
}

#resumeLink a {
  text-decoration: underline;
  color: black;
}

.horizontal-scroll-wrapper {
  background-color: lightpink;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1200vw;
  height: 100vh;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;

}

.colored {
  color: black !important;
  font-size: 50px !important;
}

.watsonImage {
  width: 50px;
}

#path {
  margin-bottom: 0vh;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
}

#landingPage {
  font-size: 64px;
  color: black;
  display: flex;
}

#landingPage>div {
  display: inherit;
  flex: auto;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px;
  max-width: 50%;
}

.viralRuparel {
  text-align: right;
  letter-spacing: 1rem;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: .8rem;
}

.andHis {
  text-align: right;
  letter-spacing: .2rem;
}

.image {
  width: 50%;
  height: 70%;
}

.titleDiv {
  display: inline-grid;
}

#char {
  font-family: harrypotterChar;
  font-size: 64px;
  font: 164px;
}

.horizontal-scroll-wrapper>div {
  width: 100vw;
  height: 90vh;
  margin-bottom: 10vh;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}

/* .contentDivs{
  transform: translateY(40vh)
} */
.connectedDots {
  max-height: 100%;
  margin: 20vh auto;
}

#root {
  height: 90%;
}

#scrollParent {
  /* overflow-y: hidden; */
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#aboutDiv {
  display: flex;
}

#aboutDiv>div {
  display: inherit;
  flex: auto;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px;
  max-width: 50%;
}

#skillsDiv {
  display: flex;
}

#skillsDiv>div {
  display: inherit;
  flex: auto;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px;
  max-width: 50%;
}

#skillsHeading {
  font-size: 80px;
}

#skillsDetails {
  display: flex;
}

#skillsDetails>div {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

#skillsDetails>div>div {
  text-align: left;
}

#skillsDetails>div>div>p>i,
img {
  margin-right: 70px;
}

#skillsDetails>div>div>p>span {
  font-size: 50px;
}

#hogwartsExpress {
  /* background-image: url(hogwartsExpress.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 50%; */
}

#aboutDetails {
  padding-left: 20px;
  text-align: left;
  flex: auto;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px;
  font-size: 64px;
  display: flex;
}

#aboutHeading {
  font-size: 80px;
}

#aboutDetails img {
  width: 50px;
  margin-right: 20px;
}

#aboutDetails>div>p {
  margin: 10px;
}

#experienceDiv {
  display: flex;
}

#experienceDiv>div {
  display: inherit;
  flex: auto;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px;
  max-width: 50%;
}

#contactDiv {
  display: flex;
}

#contactDiv>div {
  display: inherit;
  flex: auto;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px;
  max-width: 50%;
}

#contactHeading {
  font-size: 80px;
}

#contactDetails {
  display: flex;
}

#contactDetails>div {
  display: inherit;
  flex: auto;
  justify-content: center;
  align-items: center;
  text-shadow: 5px 2px;
  font-size: 60px;
}

#contactDetails>div>a {
  margin-right: 50px;
  color: black;
}

#experienceDetails {
  display: flex;
  width: 400vw;
}

#experienceDetails>div {
  max-width: 100vw;
  display: inherit;
  flex: auto;
  justify-content: center;
  align-items: center;
  padding: 200px;
  /* text-shadow: 5px 2px; */
  font-size: 30px;
}

#experienceDetails>div>div>img {
  max-width: 300px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.position {
  font-size: 40px;
  text-shadow: 1px 2px;
}

.duration {
  text-shadow: 1px 1px;
  font-size: 36px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .horizontal-scroll-wrapper {
    width: 1400vw;
  }

  #landingPage,
  #aboutDiv,
  #skillsDiv,
  #experienceDiv,
  #contactDiv {
    flex-direction: column;
  }

  #aboutDetails {
    font-size: 40px;
  }

  .App>div {
    max-width: 100vw;
  }

  #experienceDetails {
    width: 500vw;
    max-width: 500vw;
  }

  #experienceDetails>div {
    transform: scale(0.8);
  }

  #skillsDetails {
    width: 200vw;
    max-width: 200vw;
  }

  #landingPage>div,
  #aboutDiv>div,
  #skillsDiv>div,
  #skillsDetails>div,
  #experienceDiv>div,
  #contactDiv>div {
    margin: 0 auto;
    max-width: 100%;
  }

  #landingPage img,
  #aboutDiv img,
  #skillsDiv img,
  #skillsDetails img,
  #experienceDiv img,
  #contactDiv img {
    margin: 0 auto;
    max-width: 100%;
  }

  #experienceDetails>div {
    text-shadow: 0px 0px;
    padding: 0px;
  }

  #contactDetails>div {
    flex-direction: column;
  }
}