@font-face {
  font-family: harrypotter;
  src: url(./fonts/harrypotter.TTF);
}

body {
  margin: 0;
  font-family: harrypotter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(magicWandCursor.png), auto;
}

*{
  cursor: url(magicWandCursor.png), pointer;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
